/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*********** general ***********/

p, h1,h2, h3{
  font-family: 'Roboto', sans-serif;
}


a{
  text-decoration: none;
}

.page_container{
  display: flex
}

.main{
  width: 100vw;
}

p{
  font-size: calc(12px + 1.5vw);
}


@media only screen and (min-width: 600px) {
    p{
      font-size: 20px;
    }
}

b{
  font-size: calc(9px + 1.5vh);;
  color: #80002a
}

h2{
  font-size: 4vh;
  font-weight: bold
}

.splitter{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #80002a;
  padding-top: 3vh
}

.splitter_content{
  display:flex;
  justify-content: center;
  color: white;
  /* margin-left: 8vw; */
  padding: 5px;

}

.fa-arrow-down{
  margin: 8px;
}

/************ contact **************/


.contact{
  position: fixed;
  margin-top: 1vh;
}

.contact li{
  margin: 3vh 3vw 3vh 3vw;
  font-size: 5vh;
}

@media only screen and (min-width: 600px) {
    .contact li{
      margin: 3vh 3vw 3vh 5vw;
      font-size: 6vh;
  }
}

.fa-linkedin-square{
  color: black
}

.fa-github-square{
  color: black
}

.fa-envelope-square{
  color: black
}

.fa-file-text-o{
  color: black
}

.fa-linkedin-square:hover{
  color: white
}

.fa-github-square:hover{
  color: white
}

.fa-envelope-square:hover{
  color: white
}

.fa-file-text-o:hover{
  color: white
}

/************* about me **************/

h1{
  font-size: 6vh;
  font-weight: bold;
  
}

.header{
  margin-top: -1px;
  height: 5vh;
  margin-bottom: 2vh;
}

.about_me_container{
  display: flex;
  justify-content: center;
  background-color: #b3003b;
  width: 100vw;
  height: 100vh;
  padding-top: 4vh;
  padding-bottom: 10vh;
  border-bottom: solid black 1vh;
}

/* TRying to fix iphone 4 about me */
@media only screen and (min-height: 550px) {
    .about_me_container{
      height: 80vh;
    }
}

.about_me_content{
  width: 80vw;
  margin-left: 6vw;
}



.about_span{
  color: #80002a;
  font-weight: bold
}

.full{
  color: black;
  font-weight: bold;
}

.slider_container{
  margin-top: 1vh;
}

.slider{
  color: white;
  line-height: 5vh;
  
}

.about_me_description{
  background-color: #d9d9d9;
  width: 70vw;
  padding: 6vw;
  border-radius: 15px;
}


@media only screen and (min-width: 375px) {
    .about_me_description{
      width: 65vw;
      margin-left: 1vw;
    }
}

@media only screen and (min-width: 600px) {
    .about_me_description{
      width: 65vw;
      padding: 5vw;
      margin-left: 1vw;
    }
}

@media only screen and (min-width: 1000px) {
    .about_me_description {
      width: 60vw;
  }
}

.my_highlights{
  color: black
}


/************ portfolio ************/

.portfolio_container{
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #80002a;
}

.portfolio_content{
  margin-top: 5vh;
  margin-left: 6vw;
  width: 75vw;
}

@media only screen and (min-width: 1000px) {
    .portfolio_content {
      display: flex;
      flex-wrap: wrap
  }
}

.portfolio_item{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 15px;
  margin-bottom: 2vh;
  padding: 4vw;
}

.portfolio_item h2{
  text-align: center
}


@media only screen and (min-width: 1000px) {
    .portfolio_item {
    width: 30vw;
    margin: 5px;
    padding: 2vw;
    /* padding-right: 3vw; */
  }
}

.portfolio_item img{
  width: 65vw;
  height: 23vh;
  min-height: 100px;
  margin: 5px;
}

@media only screen and (min-width: 600px) {
    .portfolio_item img{
    height: 35vh;
    min-height: 100px;
    margin: 5px;
  }
}

@media only screen and (min-width: 1000px) {
    .portfolio_item img{
    width: 30vw;
    height: 30vh;
    /* min-height: 100px;  */
    margin: 5px;
  }
}

.item_description{
  margin: 5px;
  width: 65vw;
  font-size: 5vh
}

@media only screen and (min-width: 1000px) {
    .item_description {
    width: 30vw;
  }
}

.portfolio_item b{
  font-size: 10px + 1.5vh;
  font-weight: bold;
  color: black
  
}

.portfolio_item a{
  color: #b3003b
}

.portfolio_item a:hover{
  color: white;
  text-shadow: -1px 0 #80002a, 0 1px #80002a, 1px 0 #80002a, 0 -1px #80002a;
}


/********* Footer  *************/

footer{
  background-color: #80002a;
  text-align: center;
  padding: 2vw 0 1vw 0;
}