/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************ General **************/

body{
  background-color: #660022
}

.current_Button{
  background-color: green;
  border-radius: 5px;
}

.button{
  background-color: black;
  color: white;
  font-size: 5vh;
  border: none
}




/************ Nav **************/

/* .nav_links{
  display: flex;
  justify-content: flex-end;
}

nav{
  display: flex;
  justify-content: center;
  margin-right: 8vw;
  list-style: none;
}

nav li{
  margin: 10px;
  font-size: 20px
} */

/******** AboutMe ***********/

.about_me_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  /* border: solid black */
}

.about_me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 60vw;
  min-width: 300px;
  
}

.about_me h1{
  text-align: center;
  font-family: 'Chewy', cursive;
  font-size: 10vh;
  /* border: solid; */
  min-width: 150px;
  color: #248f8f;
  text-shadow: 2px 2px #98e6e6;
  margin-bottom: 1vh
}

.about_me h2{
  text-align: center;
  font-family: 'Chewy', cursive;
  font-size: 5vh;
  /* border: solid; */
  /* max-width: 500px; */
  color: #248f8f;
  text-shadow: 1px 1px #98e6e6;
}

.about_me p{
  border: solid;
  color: #00cc00;
}


/******** Portfolio ***********/



.portfolio_list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -41px;
  justify-content: center;
}

.portfolio_items{
  margin: 5px;
  list-style-type: none;
  border: 10px solid #bfbfbf;
  border-radius: 5px
  
}

.portfolio_items img{
  width: 40vw;
  min-width: 300px;
  height: 40vh;
}

.highlight_one{
  width: 40vw;
  min-width: 300px;
  height: 40vh;
  -webkit-box-shadow: 0px 6px 9px black;
  -moz-box-shadow: 0px 6px 9px black;
  box-shadow: 0px 6px 9px black;
  overflow: scroll;
  /* margin-left: 1vw; */
}




